*.iml
*.ipr
*.iws
.idea/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.Spotlight-V100
.Trashes

# Eclipse 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
target/

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
target
